<section id="page-top" class="pages">
    <div class="full">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#A" data-toggle="tab" aria-expanded="false">Visitas</a></li>
            <li class=""><a href="#B" data-toggle="tab" aria-expanded="true">Convidados</a></li>
        </ul>

        <div class="tabbable">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="A">
                    <table id="tableUsers" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>Tel</th>
                                <th>N° Visitas</th>
                                <th>Infos</th>
                                <th>Procuras</th>
                                <th>Respostas</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /tab-pane -->
                <div class="tab-pane fade" id="B">
                    <table id="tableGuests" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>Crianças</th>
                                <th>Link</th>
                                <th>Status</th>
                                <th>Crianças confirmadas</th>
                                <th>Data</th>
                                <th>Id</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /tab-pane -->
            </div>
            <!-- /tab-content -->
        </div>
    </div>
</section>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<!-- Main Js -->
<script src="../../js/admin.js"></script>