    <!-- Preloader -->
<div id="preloader">
    <div class="spinner">
        <div class="bounce1"></div>
    </div>
</div>
<!-- Preloader ends -->
<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container menu">
        <!-- Brand and toggle get grouped for better mobile display  -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand navbar-brand-centered page-scroll">
                <a href="#page-top">
                    <!-- logo  -->
                    <img src="../../img/logo.png" class="img-responsive" alt="">
                </a>
            </div>
            <!--/navbar-brand -->
        </div>
        <!--/navbar-header -->
        <!-- Collect the nav links, forms, and other content for toggling  -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <ul class="nav navbar-nav page-scroll">
                <li class="active"><a href="#page-top">Accueil</a></li>
                <li><a href="#about">Les fiancés </a></li>
                <li><a href="#story">Notre Histoire</a></li>
                <li><a href="#attendants">Demoiselles & Garçons d'honneur</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right page-scroll fr-content">
                <li><a href="#event">Événements</a></li>
                <li><a href="#fornecedores">Fournisseurs </a></li>
                <li><a href="#gallery">Nos Photos</a></li>
                <li><a href="#list">Liste de Mariage</a></li>
                <li><a href="#rsvp">Confirmation Présences</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <div id="flags">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group selected" role="group">
                <button id="br_PT" type="button" class="btn btn-default"></button>
            </div>
            <div class="btn-group" role="group">
                <button id="fr_FR" type="button" class="btn btn-default"></button>
            </div>
        </div>
    </div>
</nav>
<!-- /navbar ends -->
<!-- section: intro-->
<section id="intro" class="container-fluid">
    <div class="row margin1">
    </div>
    <!-- Background blurred images -->
    <div class="photowall">
        <div class="col-md-4 margin1">
            <img src="../../img/couple1.jpg" alt="" class="rotate1 img-photo img-responsive">
        </div>
        <!-- /col-md-4 -->
        <div class="col-md-4  col-md-offset-4">
            <img src="../../img/couple2.jpg" alt="" class="rotate2 img-photo img-responsive">
        </div>
        <!-- /col-md-4 -->
    </div>
    <!-- Main Picture -->
    <div class="main-picture col-md-6 col-centered"
         data-100="margin-top:0px;transform: rotate(4deg);"
         data-center-center="margin-top:50px;transform: rotate(-10deg);">
        <!-- image-->
        <img id="mainCoupleImg" src="../../img/couplemain.jpg" alt="" class="img-photo img-responsive">
    </div>
    <!--/main picture-->
    <div class="intro-heading col-md-12 text-center" data-0="opacity:1;"
         data--100-start="transform:translatey(0%);"
         data-center-bottom="transform:translatey(30%);">
        <h1>
            Karollyne <span class="italic"> & </span> Kleverson
        </h1>
        <h5 class="margin1 text-ornament">Se marient</h5>
    </div>
    <!-- /col-md-6-->
</section>
<!-- /section ends -->
<!-- Section: Save date-->
<section id="save-date">
    <!-- parallax ornaments -->
    <div class="ornament2 hidden-sm hidden-xs hidden-md" data-0="opacity:1;"
         data-100="transform:translatex(0%);"
         data-center-center="transform:translatex(90%);">
        <!-- illustration path in the color template CSS -->
    </div>
    <div class="ornament3 hidden-sm hidden-xs hidden-md" data-0="opacity:1;"
         data-100="transform:translatex(80%);"
         data-center-center="transform:translatex(30%);">
        <!-- illustration path in the color template CSS -->
    </div>
    <!-- /ornament3 -->
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- well starts-->
            <div class="well col-md-10 col-md-offset-1 text-center">
                <div class="section-heading">
                    <h2>16 juin 2018</h2>
                    <!-- divider -->
                    <div class="hr"></div>
                </div>
                <!--/section heading -->
                <h5 class="margin1">Confirmez avant le 20 mars 2018</h5>
                <p>
                    En plus de nos aider à organizer les derniers détails, cela est un signe d'affection. 
                    Si vous serez avec nous pour notre grand jour, s'il vous plait, confirmez votre presence 
                </p>
                <div class="margin1">
                    <!-- countdown tag -->
                    <span id="countdown"></span>
                    <!-- edit the countdown in the main.js file-->
                </div>
                <!-- /margin1-->
                <div class="page-scroll">
                    <a href="#rsvp" class="btn">Confirmez ici</a>
                </div>
                <!-- /page-scroll -->
            </div>
            <!-- /well-->
        </div>
        <!-- /row-->
    </div>
    <!-- /container -->
</section>
<!-- /section ends -->
<!-- section:about-->
<section id="about" class="watercolor">
    <!-- container -->
    <div class="container">
        <div class="section-heading">
            <h2>Les fiancés </h2>
            <!-- divider -->
            <div class="hr"></div>
        </div>
        <!-- /section-heading-->
        <!-- Bride Info -->
        <div class="col-md-5 col-md-offset-1">
            <img src="../../img/bride.jpg" alt="" class="main-img img-responsive img-circle" />
            <h4 class="text-ornament">Karollyne</h4>
            <h6 class="main-subheader">Une fleur douce et tendre </h6>
            <p style="text-align: justify">
                Elle veille au confort et au bonheur de ceux qu'elle aime. Donne toujours le meilleur d'elle même sans prendre en compte combien cela peut lui couter. Elle aime se battre pour ses idées et essaye toujours de se surpasser en se fixant des nouveaux objectifs. C'est est une femme belle, délicate et rêveuse... Elle est ma fleur.
            </p>
            <!-- small social-icons -->
            <div class="social-media smaller">
                <!-- <a href="#" title=""><i class="fa fa-twitter"></i></a> -->
                <a href="https://www.facebook.com/lorak.enyl" target="_blank" title=""><i class="fa fa-facebook"></i></a>
                <!--<a href="#" title=""><i class="fa fa-linkedin"></i></a>-->
                <!--<a href="#" title=""><i class="fa fa-pinterest"></i></a>-->
                <a href="https://www.instagram.com/lorakcardoso/" target="_blank" title=""><i class="fa fa-instagram"></i></a>
            </div>
            <!-- /social-icons -->
        </div>
        <!-- /col-md-5 -->
        <!-- Groom Info -->
        <div class="col-md-5 res-margin">
            <img src="../../img/groom.jpg" alt="" class="main-img img-responsive img-circle" />
            <h4 class="text-ornament">Kleverson</h4>
            <h6 class="main-subheader">Mon petit roi </h6>
            <p style="text-align: justify">
                Il a un fort carractère et un coeur énorme. La determination et lui marchent main dans la main. Toujours trop sérieux mais son beau sourrir fait fondre mon coeur. Souvent dur et imposant, veut toujours avoir raison, cependant il deteste l'injustice et respire l'honnêteté. Mon meilleur ami. La meilleure partie de moi. </p>
            <!-- small social-icons -->
            <div class="social-media smaller">
                <!--<a href="#" title=""><i class="fa fa-twitter"></i></a>-->
                <a href="https://www.facebook.com/TheKlever973" target="_blank" title=""><i class="fa fa-facebook"></i></a>
                <!--<a href="#" title=""><i class="fa fa-linkedin"></i></a>-->
                <!--<a href="#" title=""><i class="fa fa-pinterest"></i></a>-->
                <a href="https://www.instagram.com/theklever/" target="_blank" title=""><i class="fa fa-instagram"></i></a>
            </div>
            <!-- /social-icons -->
        </div>
        <!-- /col-md-5 -->
    </div>
    <!-- /container -->
</section>
<!-- /section ends -->
<!-- parallax ornament -->
<div class="ornament4 hidden-sm hidden-xs hidden-md" data-0="opacity:1;"
     data--100-start="transform:translatex(90%);"
     data-center-bottom="transform:translatex(0%);">
    <!-- illustration path in the color template CSS -->
</div>
<!-- /ornament4 -->
<!-- section:story -->
<section id="story">
    <div class="container">
        <div class="section-heading">
            <h2>Notre Histoire</h2>
            <!-- divider -->
            <div class="hr"></div>
        </div>
        <!-- /section-heading -->
        <!-- Polaroids -->
        <div class="row">
            <ul id="story-carousel" class="polaroids owl-carousel margin1">
                <!-- image1 -->
                <li class="polaroid-item"
                    data-0="transform:translatey(0%);"
                    data-center="transform:translatey(0%);transform:rotate(-4deg)">
                    <img alt="" src="../../img/polaroid1.jpg" class="img-responsive" />
                    <p>La première photo</p>

                </li>
                <!-- image2 -->
                <li class="polaroid-item" data-0="transform:translatey(-0%);"
                    data-center="transform:translatey(0%);transform:rotate(8deg)">
                    <img alt="" src="../../img/polaroid2.jpg" class="img-responsive" />
                    <p>Ses 24 ans</p>

                </li>
                <!-- image3 -->
                <li class="polaroid-item" data-0="transform:translatey(0%);rotate:0;"
                    data-center="transform:translatey(0%); transform:rotate(-2deg)">
                    <img alt="" src="../../img/polaroid3.jpg" class="img-responsive" />
                    <p>Notre premier été ensemble</p>

                </li>
                <!-- image4 -->
                <li class="polaroid-item" data-0="transform:translatey(0%);"
                    data-center="transform:translatey(0%);transform:rotate(12deg)">
                    <img alt="" src="../../img/polaroid4.jpg" class="img-responsive" />
                    <p>Evènement en famille</p>

                </li>
                <!-- image5 -->
                <li class="polaroid-item" data-0="transform:translatey(0%);"
                    data-center="transform:translatey(0%);transform:rotate(-4deg)">
                    <a href="../../img/polaroid5.jpg">
                        <img alt="" src="../../img/polaroid5.jpg" class="img-responsive" />
                        <p>La photo préférée</p>
                    </a>
                </li>
                <!-- image6 -->
                <li class="polaroid-item" data-0="transform:translatey(0%);"
                    data-center="transform:translatey(0%);transform:rotate(7deg)">
                    <a href="../../img/polaroid5.jpg">
                        <img alt="" src="../../img/polaroid6.jpg" class="img-responsive" />
                        <p>Ma meuilleure compagnie</p>
                    </a>
                </li>
                <!-- image7 -->
                <li class="polaroid-item" data-0="transform:translatey(0%);"
                    data-center="transform:translatey(0%);transform:rotate(-1deg)">
                    <a href="../../img/polaroid5.jpg">
                        <img alt="" src="../../img/polaroid7.jpg" class="img-responsive" />
                        <p>Première promenade</p>
                    </a>
                </li>
                <!-- /li polaroid -->
            </ul>
            <!-- /ul-polaroids -->
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /container-->
</section>
<!-- /section ends -->
<!-- Section:attendants -->
<section id="attendants" class="watercolor">
    <!-- parallax ornament -->
    <div class="ornament5 hidden-sm hidden-xs hidden-md" data-0="opacity:1;"
         data--100-start="transform:translatex(-10%);"
         data-center-bottom="transform:translatex(100%);">
        <!-- illustration path in the color template CSS -->
    </div>
    <div class="container">
        <div class="section-heading">
            <h2>Demoiselles <span class="italic">&</span> Garçons </h2>
            <!-- divider -->
            <div class="hr"></div>
        </div>
        <!-- /section-heading -->
        <!-- /col-md-3 -->
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#bridemaids" data-toggle="tab">Demoiselles</a></li>
                <li><a href="#groomsman" data-toggle="tab">Garçons</a></li>
            </ul>
            <!--/nav nav-tabs -->
            <div class="tabbable">
                <div class="tab-content">
                    <!-- tab 1 -->
                    <div class="tab-pane active in fade" id="bridemaids">
                        <!-- attendants carousel 1-->
                        <div id="owl-attendants1" class="owl-carousel">
                            <!-- attendants member 1 -->
                            <div class="attendants-wrap col-md-12">
                                <div class="member text-center">
                                    <div class="wrap">
                                        <!-- image -->
                                        <img src="../../img/arielly.jpg" alt="" class="img-circle img-responsive">
                                        <!-- Info -->
                                        <div class="info">
                                            <h5 class="name">Arielly Beaupère</h5>
                                            <!--<h4 class="description">Best Friend</h4> -->
                                        </div>
                                        <!-- /info -->
                                    </div>
                                    <!-- /wrap -->
                                </div>
                                <!-- / member -->
                            </div>
                            <!--/ attendants-wrap -->
                            <!-- attendants member 2 -->
                            <div class="attendants-wrap col-md-12">
                                <div class="member text-center">
                                    <div class="wrap">
                                        <!-- image -->
                                        <img src="../../img/angela.jpg" alt="" class="img-circle img-responsive">
                                        <!-- Info -->
                                        <div class="info">
                                            <h5 class="name">Angela Guedes</h5>
                                        </div>
                                        <!-- /info -->
                                    </div>
                                    <!-- /wrap -->
                                </div>
                            </div>
                            <!--/ attendants-wrap -->
                            <!-- attendants member 3 -->
                            <div class="attendants-wrap col-md-12">
                                <div class="member text-center">
                                    <div class="wrap">
                                        <!-- image -->
                                        <img src="../../img/carla.jpg" alt="" class="img-circle img-responsive">
                                        <!-- Info -->
                                        <div class="info">
                                            <h5 class="name">Carla Pereira</h5>
                                        </div>
                                        <!-- /info -->
                                    </div>
                                    <!-- /wrap -->
                                </div>
                                <!-- / member -->
                            </div>
                            <!--/ attendants-wrap -->
                            <!-- attendants member 4-->
                            <div class="attendants-wrap col-md-12">
                                <div class="member text-center">
                                    <div class="wrap">
                                        <!-- image -->
                                        <img src="../../img/claudia.jpg" alt="" class="img-circle img-responsive">
                                        <!-- Info -->
                                        <div class="info">
                                            <h5 class="name">Claudia Miranda</h5>
                                        </div>
                                        <!-- /info -->
                                    </div>
                                    <!-- /wrap -->
                                </div>
                                <!-- / member -->
                            </div>
                            <!--/ attendants-wrap -->
                        </div>
                        <!-- /owl-carousel -->
                    </div>
                    <!--/ tab 1 ends -->
                    <!-- tab 2 -->
                    <div class="tab-pane fade" id="groomsman">
                        <!-- Attendants carousel 2 -->
                        <div id="owl-attendants2" class="owl-carousel">
                            <!-- attendants member 6 -->
                            <div class="attendants-wrap col-md-12">
                                <div class="member text-center">
                                    <div class="wrap">
                                        <!-- image -->
                                        <img src="../../img/daniel.jpg" alt="" class="img-circle img-responsive">
                                        <!-- Info -->
                                        <div class="info">
                                            <h5 class="name">Daniel Miranda</h5>
                                        </div>
                                        <!-- /info -->
                                    </div>
                                    <!-- /wrap -->
                                </div>
                                <!-- / member -->
                            </div>
                            <!--/ attendants-wrap -->
                            <!-- attendants member 7 -->
                            <div class="attendants-wrap col-md-12">
                                <div class="member text-center">
                                    <div class="wrap">
                                        <!-- image -->
                                        <img src="../../img/ebrahim.jpg" alt="" class="img-circle img-responsive">
                                        <!-- Info -->
                                        <div class="info">
                                            <h5 class="name">Ebrahim Desanges</h5>
                                        </div>
                                        <!-- /info -->
                                    </div>
                                    <!-- /wrap -->
                                </div>
                            </div>
                            <!--/ attendants-wrap -->
                            <!-- attendants member 8 -->
                            <div class="attendants-wrap col-md-12">
                                <div class="member text-center">
                                    <div class="wrap">
                                        <!-- image -->
                                        <img src="../../img/fabrice.jpg" alt="" class="img-circle img-responsive">
                                        <!-- Info -->
                                        <div class="info">
                                            <h5 class="name">Fabrice Mura</h5>
                                        </div>
                                        <!-- /info -->
                                    </div>
                                    <!-- /wrap -->
                                </div>
                                <!-- / member -->
                            </div>
                            <!--/ attendants-wrap -->
                            <!-- attendants member 9 -->
                            <div class="attendants-wrap col-md-12">
                                <div class="member text-center">
                                    <div class="wrap">
                                        <!-- image -->
                                        <img src="../../img/simeao.jpg" alt="" class="img-circle img-responsive">
                                        <!-- Info -->
                                        <div class="info">
                                            <h5 class="name">Simeão Guedes</h5>
                                        </div>
                                        <!-- /info -->
                                    </div>
                                    <!-- /wrap -->
                                </div>
                                <!-- / member -->
                            </div>
                            <!--/ attendants-wrap -->
                        </div>
                        <!-- /owl-carousel -->
                    </div>
                    <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
            </div>
            <!-- /tabbable -->
        </div>
        <!-- /col-md-12 -->
    </div>
    <!-- /.container -->
</section>
<!-- /Section ends -->
<!-- Section: Event-->
<section id="event">
    <div class="section-heading">
        <h2>Événements</h2>
        <!-- divider -->
        <div class="hr"></div>
    </div>
    <!--/section-heading -->
    <div class="container">
        <!-- /row -->
        <div class="row margin1">
            <!-- paper well -->
            <div class="well col-md-7">
                <h3>Cérémonie religieuse & réception</h3>
                <p>C'est pourquoi l'homme quiterra son père et sa mère, et s'attachera à sa femme, et les deux deviendront une seule chair. <i> Ephésiens 5:31 </i></p>
                <h4>Une journée special...</h4>
                <p class="info">
                   La cérimonie et la reception seront realisé au même endroit. <br> La reception sera divisé en deux parties, tout d'abord un cocktel pour tous les invités, ensuite un diner pour la famille et les amis plus proche.
                </p>
            </div>
            <!-- /well -->
            <div class="col-md-5" data--100-start="transform:translatey(-60%);"
                 data-center-bottom="transform:translatey(20%);">
                <!-- image -->
                <img src="../../img/Manoir.png" alt="" class="img-photo rotate2 img-responsive">
            </div>
            <!-- /col-md-5 -->
        </div>
        <!-- /row-->
    </div>
    <!-- /container -->
    <!-- row-fluid -->
    <div class="container-fluid" id="scroll-effect">
        <div class="col-lg-7 col-md-7 no-padding">
            <!-- map-->
            <div id="map-canvas"></div>
            <!-- image1 -->
        </div>
        <!-- paper well with effect -->
        <div class="well col-lg-5 col-lg-offset-7 col-md-5 col-md-offset-7 " data-start="left: 20%;" data-center="left:0%;">
            <div class="col-md-12 text-center">
                <h3 class="date">16 de Junho 2018</h3>
                <h6>à 17h30</h6>
                <h6>800 Chemin Barrayrous, 82800 Nègrepelisse</h6>
                <hr>
                <p>Cher invité, le Manoir des Barrayrous se situe à 45 minutes du centre de Toulouse. Nous vous invitons à  prevoir votre moyen de transport et éventuellement, pour ceux qui souhaitent, leur hôtel à proximité. </p>
            </div>
        </div>
        <!-- /well -->
    </div>
    <!-- /row-fluid -->
</section>
<!-- Section ends -->
<!-- Section: Quote -->
<section id="quote" class="container-fluid">
    <div class="col-md-7 col-centered" data-center-top="opacity: 1" data-center-bottom="opacity: 0">
        <blockquote>
            <h2>Ainsi, comme le fait de vivre s'il n'y a pas d'amour, ce n'ai pas vivre, il n'y a pas de toi sans moi et je n'existe pas sans toi.</h2>
        </blockquote>
    </div>
    <!-- /col-md-7-->
</section>
<!-- /section ends -->
<!-- Section: Registry -->
<section id="fornecedores">
    <div class="section-heading text-center">
        <h2>Fournisseurs </h2>
        <!-- divider -->
        <div class="hr"></div>
    </div>
    <!--/section-heading -->
    <div class="container text-center">
        <div class="row">
            <!-- Brand 1 -->
            <div class="col-sm-6 col-md-3">
                <a href="#fornecedores"><img src="../../img/brand1.png" alt="" class="brand col-centered img-responsive" /></a>
            </div>
            <!-- Brand 2 -->
            <div class="col-sm-6 col-md-3 res-margin">
                <a href="#fornecedores"><img src="../../img/brand2.png" alt="" class="brand col-centered img-responsive" /></a>
            </div>
            <!-- Brand 3 -->
            <div class="col-sm-6 col-md-3 res-margin">
                <a href="#fornecedores"><img src="../../img/brand3.png" alt="" class="brand col-centered img-responsive" /></a>
            </div>
            <!-- Brand 4 -->
            <div class="col-sm-6 col-md-3 res-margin">
                <a href="#fornecedores"><img src="../../img/brand4.png" alt="" class="brand col-centered img-responsive" /></a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- Section ends -->
<!-- Section: Gallery -->
<section id="gallery" class="watercolor">
    <div class="section-heading text-center">
        <h2>Nos Photos</h2>
        <!-- divider -->
        <div class="hr"></div>
    </div>

    <div class="container text-center">
        <iframe style="min-height:450px;width:100%;margin-bottom:50px" src="https://www.youtube.com/embed/6vP-IcRB0KU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <!--/section-heading -->
    <div class="container-fluid">
        <!-- row fluid -->
        <div class="row-fluid">
            <!-- Navigation -->
            <div class="text-center col-md-12">
                <ul class="nav nav-pills category text-center" role="tablist" id="gallerytab">
                    <li class="active"><a href="#" data-toggle="tab" data-filter="*">Toutes</a>
                    <li><a href="#" data-toggle="tab" data-filter=".noivado">Fiançailles</a></li>
                    <li><a href="#" data-toggle="tab" data-filter=".prewedding">Pre-prewedding</a></li>
                </ul>
            </div>
            <!-- Gallery -->
            <div class="col-md-12 gallery margin1">
                <div id="lightbox">
                    <!-- Image 1 -->
                    <div class="prewedding col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pre_baloes01.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 2 -->
                    <div class="noivado col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pedido_eu_ela01.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 3 -->
                    <div class="prewedding col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pre_eu_ela03.JPG" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 4 -->
                    <div class="noivado col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pedido_eu_ela02.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 5 -->
                    <div class="noivado col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pedido_madrinhas.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 6 -->
                    <div class="noivado col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pedido_ela_criancas.JPG" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 7 -->
                    <div class="prewedding col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pre_eu_ela04.JPG" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 8 -->
                    <div class="prewedding col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pre_eu_ela05.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 9 -->
                    <div class="prewedding col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pre_eu_ela02.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 10 -->
                    <div class="noivado col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pedido_eu_ela_criancas.JPG" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 11 -->
                    <div class="noivado col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pedido_anel.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 12 -->
                    <div class="noivado col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pedido_eu_ela03.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 13 -->
                    <div class="prewedding col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pre_eu_ela06.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                    <!-- Image 14 -->
                    <div class="prewedding col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                            <div class="gallery-thumb">
                                <img class="img-responsive" src="../../img/pre_eu_ela01.jpg" alt="">

                                <span class="overlay-mask"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /lightbox-->
            </div>
            <!-- /col-lg-12 -->
        </div>
        <!-- /row fluid -->
    </div>
    <!-- /container fluid-->
</section>
<!-- /Section ends -->
<!-- Section list -->
<section id="list">
    <div class="container">
        <div class="section-heading">
            <h2>Lista de Presentes</h2>
            <!-- divider -->
            <div class="hr"></div>
        </div>
        <div class="well col-md-10 col-md-offset-1 text-center" data-start="left: 20%;" data-center="left:0%;">
            <div class="col-md-12 text-center">
                <h3>Aidez-nous à décorer notre nouvelle maison. Offrez-nous un cadeau!</h3>
                <hr>
                <p>Un système très simple. Vous pouvez choisir le produit, le réserver ou l'acheter tout de suite. Ensuite, envoyez-le à notre demoiselle d'honneur chargée de la réception. Cliquez ici : <a href="https://www.ookoodoo.com/list/839682" target="_blank"> Ookoodoo! </a></p>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- /Section list -->
<!-- Section: RSVP  -->
<section id="rsvp">
    <!-- parallax ornament -->
    <div class="ornament6 hidden-sm hidden-xs hidden-md" data-0="opacity:1;"
         data-100="transform:translatex(90%);"
         data-center-center="transform:translatex(30%);">
        <!-- illustration path in the color template CSS -->
    </div>
    <!-- parallax ornament -->
    <div class="ornament7 hidden-sm hidden-xs hidden-md" data-0="opacity:1;"
         data-100="transform:translatex(0%);"
         data-center-center="transform:translatex(90%);">
        <!-- illustration path in the color template CSS -->
    </div>
    <div class="container">
        <div class="section-heading">
            <h2>Confirmation Présences</h2>
            <!-- divider -->
            <div class="hr"></div>
        </div>
        <!-- /section-heading -->
        <div class="col-lg-5">
            <!-- image -->
            <img src="../../img/rsvp.jpg" alt="" class="margin1 img-photo rotate2 img-responsive">
        </div>
        <!-- well -->
        <div class="col-lg-7 well">
            <div id="rsvp_form">
                <div class="form-group text-center">
                    <!-- name field-->
                    <h5>Nom <span class="required">(Comme dans l'invitation)*</span></h5>

                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input id="searchInput" type="text" name="name" class="form-control input-field" placeholder="Chercher" required="" />
                            <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- if attending=no then only the message box will show -->
                    <div class="message-comments">
                        <h5>Message aux fiancés</h5>
                        <textarea name="message" id="message-box" class="textarea-field form-control" rows="3"></textarea>
                    </div>
                    <!--/message-comments -->
                    <div id="divBtnRSVP" class="text-center">
                        <button type="submit" id="submit_rsvp" value="Submit" class="btn">Envoyer</button>
                    </div>
                    <!-- /col-md-12 -->
                </div>
                <!-- /Form-group -->
                <!-- Contact results -->
                <div id="contact_results"></div>
            </div>
            <!-- /rsvp form-->
        </div>
        <!-- /well-->
    </div>
    <!-- /container -->
</section>
<!-- /Section ends -->
<!-- Core JavaScript Files -->
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<!-- Main Js -->
<script src="../../js/main.js"></script>
<!-- RSVP form -->
<script src="../../js/rsvp.js"></script>
<!--Other Plugins -->
<script src="../../js/plugins.js"></script>
<!-- Prefix free CSS -->
<script src="../../js/prefixfree.js"></script>
<!-- Google maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhbOZk2d9zWkimdNi8J5uiYNiAu8c4XS0&v=3.exp"></script>
<script src="../../js/map.js"></script>
<!-- setting ajax-->
<script src="../../js/content.js"></script>