<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Page title -->
    <title>Klever & Karol</title>    
    <!-- Favicons-->
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="js/respond.js"></script>
    <![endif]-->
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- Icon fonts -->
    <link href="../../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../fonts/glyphicons/bootstrap-glyphicons.css" rel="stylesheet" type="text/css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i" rel="stylesheet" type="text/css">  
    <!-- Style CSS -->
    <link href="../../css/login.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="../../css/plugins.css" rel="stylesheet">
    <!-- Color Style CSS -->
    <link href="../../styles/summer.css" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    {{{body}}}
    <footer>
        <div class="container">
            <div class="col-md-12 text-center">
                <!-- Footer logo -->
                <img src="../../img/logo.png" alt="" class="center-block img-responsive">
            </div>
            <!-- /col-md-12 -->
            <!-- Credits-->
            <div class="credits col-md-12 text-center">
                Copyright © 2017                 <!-- Go To Top Link -->
                <div class="page-scroll hidden-sm hidden-xs">
                    <a href="#page-top" class="back-to-top" style="display: block;"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
            <!-- /credits -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- Core JavaScript Files -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <!-- Main Js -->
    <script src="../../js/main.js"></script>
    <!--Other Plugins -->
    <script src="../../js/plugins.js"></script>
    <!-- Prefix free CSS -->
    <script src="../../js/prefixfree.js"></script>   
</body>
</html>